body {
	background-color:#222222;
	text-align:center;
	font-family:"Arial", sans-serif;
	margin:0;
	padding:0;
}

table {
	border:2px solid black;
	border-collapse:collapse;
}

th, td {
	padding:4px;
	border:1px solid grey;
}

.wrapper {
	margin:0 auto;
	min-width:1280px;
	max-width:80%;
}

.header {
	text-align:center;
}

.logo {
	margin:0 auto;
	padding:4px 0;
}

.dropdown ul {
	width:100%;
	list-style-type:none;
	margin:0;
	padding:0;
}

.dropdown li {
	float:left;
	width:12.5%;
	position:relative;
	background-color:#DD2222;
}

.dropdown li:first-child {
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

.dropdown li:last-child {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

.dropdown li li:first-child {
	border-radius:0;
}

.dropdown li li:last-child {
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.dropdown li ul {
	display:none;
	position:absolute;
	top:100%;
	left:0%;
}

.dropdown li:hover ul {
	display:inline;
	clear:both;
}

.dropdown li:hover ul li {
	float:none;
	width:100%;
}

.dropdown a {
	display:block;
	width:100%;
	color:#FFFFFF;
	text-align:center;
	padding:4px 0;
	border-radius:4px;
	border-color:none;
	font-weight:bold;
	text-decoration:none;
}

.dropdown li:hover a {
	background-color:#444444;
}

.dropdown li:hover ul a {
	background:#DD2222;
}

.dropdown li:hover ul a:hover {
	background:#666666;
}

.content {
	clear:both;
	margin:0 auto;
	padding:4px 0;
	display:block;
	overflow:auto;
	text-align:center;
	border-color:#222222;
	border-radius:4px;
}

.sidebar {
	float:left;
	width:19.75%;
	min-height:512px;
	border-radius:4px;
	background-color:#444444;
}

.twitter-timeline {
	width:100%;
	height:450px;
}

.socialmedia {
	padding:4px;
	text-align:justify;
}

.socialmedia:after {
	content:"";
	width:100%;
	display:inline-block;
}

.socialicon {
	width:20%;
	vertical-align:middle;
	padding:2px;
}

.page {
	float:right;
	width:79.75%;
	min-height:512px;
	background-color:#DDDDDD;
	border-radius:4px;
}

.content-table {
	margin:0 auto 1% auto;
	width:95%;
	text-align:center;
}

.half-content {
	width:48%;
	margin:0 1% 1% 1%;
}

.right {
	float:right;
}

.left {
	float:left;
}

.robotimg {
	max-width:100%;
}

.icon {
	margin:0 auto;
	height:60px;
	padding:2px;
}

.footer {
	clear:both;
	margin-bottom:4px;
	background-color:#DDDDDD;
	border-radius:4px;
	font-weight:bold;
}

.sponsorfooter {
	margin-bottom:4px;
	padding:4px;
	border-radius:4px;
	background-color:#DDDDDD;
	text-align:justify;
}

.sponsorfooter:after {
	content:"";
	width:100%;
	display:inline-block;
}

.sponsoricon {
	vertical-align:middle;
	padding:0 2px;
}

.xlarge {
	height:70px;
}

.large {
	height:50px;
}

.medium {
	height:35px;
}

.small {
	height:25px;
}
