body {
	background-color:#222222;
	text-align:center;
	font-family:"Arial", sans-serif;
	margin:0;
	padding:0;
}

table {
	border:2px solid black;
	border-collapse:collapse;
}

.header {
	text-align:center;
}

.logo {
	margin:0 auto;
	padding:4px 0;
}

.dropdown ul {
	width:100%;
	list-style-type:none;
	margin:0;
	padding:0;
}

.dropdown li {
	float:left;
	width:12.5%;
	position:relative;
	background-color:#DD2222;
}

.dropdown li:first-child {
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

.dropdown li:last-child {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

.dropdown li li:first-child {
	border-radius:0px;
}

.dropdown li li:last-child {
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.dropdown li ul {
	display:none;
	position:absolute;
	top:100%;
	left:0%;
}

.dropdown li:hover ul {
	display:inline;
	clear:both;
}

.dropdown li:hover ul li {
	float:none;
	width:100%;
}

.dropdown a {
	display:block;
	width:100%;
	color:#FFFFFF;
	text-align:center;
	padding:4px 0;
	border-radius:4px;
	border-color:none;
	font-weight:bold;
	text-decoration:none;
}

.dropdown li:hover a {
	background-color:#444444;
}

.dropdown li:hover ul a {
	background:#DD2222;
}

.dropdown li:hover ul a:hover {
	background:#666666;
}

.content {
	clear:both;
	margin:0 auto;
	height:500px;
	text-align:center;
	padding-top:4px;
	border-color:#222222;
	border-radius:4px;
}

.sidebar {
	float:left;
	width:19.75%;
	height:100%;
	border-radius:4px;
	background-color:#444444;
}

.twitter-timeline {
	width:100%;
	height:100%;
}

.content-table {
	margin:0 auto;
	width:95%;
	height:85%;
	border:2px solid black;
	border-collapse:collapse;
}

.half-content {
	width:48%;
	height:85%;
	margin-left:1%;
	margin-right:1%;
}

.right {
	float:right;
}

.left {
	float:left;
}

.robotimg {
	max-width:100%;
	max-height:100%;
	margin:auto;
}

.icon {
	margin:0 auto;
	height:60px;
	padding:2px;
}

.page {
	float:right;
	width:79.75%;
	height:100%;
	background-color:#DDDDDD;
	border-radius:4px;
	overflow:hidden;
	text-overflow:clip;
}

.footer {
	margin:4px auto;
	background-color:#DDDDDD;
	border-radius:4px;
	font-weight:bold;
}

.sponsorfooter {
	width:100%;
	margin-bottom:4px;
	padding:4px 0;
	border-radius:4px;
	background-color:#DDDDDD;
}

.sponsoricon {
	vertical-align:middle;
	padding:0 2px;
}

.xlarge {
	height:70px;
}

.large {
	height:50px;
}

.medium {
	height:35px;
}

.small {
	height:25px;
}

.wrapper {
	margin:0 auto;
	width:1024px;
}